.filtros-genero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 13px;
    margin-bottom: 30px;
}

.filtros-genero button {
    padding: 15px 22px;
    border-radius: 20px;
    border: 2px solid var(--cor-borda);
    background-color: var(--cor-cartao);
    color: var(--cor-texto);
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: var(--fonte-secundaria);
}

.filtros-genero button:hover {
    border-color: var(--cor-destaque);
}

.filtros-genero .ativo {
    background-color: var(--cor-destaque);
    color: #000;
    font-weight: bold;
}

.filtros-plataforma {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .filtros-plataforma button {
    padding: 12px 12px;
    border-radius: 20px;
    border: 2px solid var(--cor-borda);
    background-color: var(--cor-cartao);
    color: var(--cor-texto);
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: var(--fonte-secundaria);
  }

  .filtros-plataforma button svg {
    margin-right: 6px;
    font-size: 1rem;
    vertical-align: middle;
    vertical-align: text-bottom;
  }
  
  .filtros-plataforma button:hover {
    border-color: var(--cor-destaque);
  }
  
  .filtros-plataforma .ativo {
    background-color: var(--cor-destaque);
    color: #000;
    font-weight: bold;
  }